$white: #fff;
$dark: #000;
$dark-green: #5F6450;
$grey: #D4D6D4;
$dark-grey: #7A888E;
$light-gray: #F5F6F7;
$yellow: #FFD723;
$swampy: #5E6648;
$light-swampy: #B6C197;
$average-swampy: #4D533C;
$yellow: #FFD723;
$transparent: transparent;
$navy-blue: #152934;
$dairy: #E9EBEC;

